[submodule "typescript"]
	path = typescript
	url = https://github.com/microsoft/TypeScript.git
	shallow = true
[submodule "typescript-go"]
	path = typescript-go
	url = https://github.com/microsoft/typescript-go.git
	shallow = true
